<h2>Hi <%= @user.first_name %>! This is your profile</h2>

<h3>Currently On Loan</h3>

<ul class="list-group">
  <% @on_loan.each do |borrow| %>
    <li class="list-group-item"><%= borrow.book.title %> | Due: <%= borrow.due_date.strftime("%A, %B %d") %> | Branch: <%= borrow.library.library_name %> | <%= link_to "Return", book_borrow_path(borrow), method: :patch, :class => "btn-sm btn-primary" %></li>
  <% end %>
</ul>

<h3>Watching</h3>

<ul class="list-group">
  <% @notifications.each do |notification| %>
    <li class="list-group-item"><%= notification.book.title %> | Branch: <%= notification.library.library_name %> | <%= link_to "Remove Notification", user_notification_path(notification), method: :patch, :class => "btn-sm btn-primary" %></li>
  <% end %>
</ul>




<h3>History</h3>

<ul class="list-group">
  <% @returned.each do |borrow| %>
    <li class="list-group-item"><%= borrow.book.title %>
    (Returned: <%= borrow .date_returned.strftime("%A, %B %d") %> at <%= borrow.library.library_name %> )</li>
  <% end %>
</ul>
