<h2>Hi <%= @user.first_name %>! This is your profile</h2>

<h3>Currently On Loan</h3>

<% @on_loan.each do |borrow| %>
  <p>
    <%= borrow.book.title %> | Due: <%= borrow.due_date.strftime("%A, %B %d") %> | <%= link_to "Return", book_borrow_path(borrow), method: :patch %>
  </p>
<% end %>

<h3>History</h3>

<% @returned.each do |borrow| %>
  <p>
    <%= borrow.book.title %>
    (Returned: <%= borrow.date_returned.strftime("%A, %B %d") %>)
  </p>
<% end %>
