<h2>This is your profile</h2>

<p>hi <%= @user.first_name %></p>

<h3>Books Borrowed</h3>

<% @on_loan.each do |borrow| %>
  <p>
    <%= borrow.book.title %> <%= link_to "Return", book_borrow_path(borrow), method: :patch %>
  </p>
<% end %>

<h3>History</h3>

<% @returned.each do |borrow| %>
  <p>
    <%= borrow.book.title %>
    (Returned: <%= borrow.date_returned %>)
  </p>
<% end %>
