<%= form_for book, :html=> { class: 'form-group' } do |f| %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :author%>
    <%= f.text_field :author, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :publisher %>
    <%= f.text_area :publisher, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :genre %>
    <%= f.text_area :genre, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :subgenre %>
    <%= f.text_area :subgenre, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :pages %>
    <%= f.number_field :pages, :class => "form-control" %>
  </div>

  <%= f.submit 'Submit', :class => "btn btn-primary" %>

<% end %>



  <% @copies.each do |copy| %>
    <div class="form-group">
      <%= form_for copy, :html=> { class: 'form-group' } do |f| %>
        <%= f.fields_for copy do |ff|%>
          <%= ff.label :name, "#{copy.library.library_name} Copies" %>
          <%= ff.number_field :copies %>
        <% end %>
      <% end %>
      <%= f.submit 'Save Copies', :class => "btn btn-primary" %>
    </div>
  <% end %>
