<h2>Details for: <%= @book.title %></h2>

<ul class="list-group">
  <li class="list-group-item">Author: <%= @book.author %></li>

  <li class="list-group-item">Publisher: <%= @book.publisher %></li>

  <li class="list-group-item">Genre: <%= @book.genre %></li>

  <li class="list-group-item">Sub-genre: <%= @book.subgenre %></li>

  <li class="list-group-item">Number of pages: <%= @book.pages %></li>

</ul>

<h2>Branches Available</h2>

<ul class="list-group">
  <% @libraries.each do |library| %>
    <li class="list-group-item"><%= link_to library.library_name, library_path(library) %>
    <% if user_signed_in? && Borrow.book_available?(@book, library) %>
      <%= link_to "Borrow Me!", book_borrows_path(@book, :library_id => library), method: :create, :class => "btn btn-primary" %>
    <% else %>
      <%= link_to "Notify Me When This is Available", user_notifications_path(current_user, :library_id => library, :book_id => @book), method: :create, :class => "btn btn-primary" %>
    <% end %>
      <h6>Copies Left: <%= Borrow.copies_available(@book, library) - Borrow.on_loan_count(@book, library) %><h4></li>
  <% end %>
</ul>

<% if user_signed_in? && current_user.admin == true %>
  <%= link_to "Edit Book Details", edit_book_path(@book), :class => "btn btn-primary" %>
<% end %>
