<h2>Details for: <%= @book.title %></h2>

<h3>Author: <%= @book.author %></h3>

<h3>Publisher: <%= @book.publisher %></h3>

<h3>Genre: <%= @book.genre %></h3>

<h3>Sub-genre: <%= @book.subgenre %></h3>

<h3>Number of pages: <%= @book.pages %></h3>

<h3>Copies Left: <%= @book.copies %></h3>

<%= link_to "Borrow Me!", book_borrows_path(@book), method: :create %>
