<h2>Details for: <%= @book.title %></h2>

<p>Author: <%= @book.author %></p>

<p>Publisher: <%= @book.publisher %></p>

<p>Genre: <%= @book.genre %></h3>

<p>Sub-genre: <%= @book.subgenre %></p>

<p>Number of pages: <%= @book.pages %></p>

<p>Copies Left: <%= @book.copies - @on_loan.count %></p>

<% if current_user && @book.copies - @on_loan.count > 0 %>
  <%= link_to "Borrow Me!", book_borrows_path(@book), method: :create %>
<% end %>



<% if current_user && current_user.kind == "admin" %>
  <h2>Admin Panel</h2>
  <h3>Number of of copies on loan: <%= @on_loan.count %></h3>
  <% @on_loan.each do |borrow| %>
    <p>
    On loan by: <%= borrow.user.email %> | Due: <%= borrow.due_date.strftime("%A, %B %d") %>
    </p>
  <% end %>
  <h3>Returns</h3>
  <% @returns.each do |returned| %>
    <p>
    Returned by: <%= returned.user.email %> | On: <%= returned.date_returned.strftime("%B %d, %Y") %>
    </p>
  <% end %>
<% end %>
