<h2>Details for: <%= @book.title %></h2>

<ul class="list-group">
  <li class="list-group-item">Author: <%= @book.author %></li>

  <li class="list-group-item">Publisher: <%= @book.publisher %></li>

  <li class="list-group-item">Genre: <%= @book.genre %></li>

  <li class="list-group-item">Sub-genre: <%= @book.subgenre %></li>

  <li class="list-group-item">Number of pages: <%= @book.pages %></li>

</ul>

<h2>Branches Available</h2>

<ul class="list-group">
  <% @libraries.each do |library| %>
    <li class="list-group-item"><%= link_to library.library_name, library_path(library) %>
    <%= link_to "Borrow Me!", book_borrows_path(@book, :library => library), method: :create, :class => "btn btn-primary" %></li>
  <% end %>
</ul>

<% if user_signed_in? && current_user.admin == true %>
  <h2>Admin Panel</h2>
  <h4>Number of of copies on loan: <%= @on_loan.count %></h4>
  <%= link_to "Edit Book Details", edit_book_path(@book), :class => "btn btn-primary" %>
  <ul>
    <% @on_loan.each do |borrow| %>
        <li class="list-group">On loan by: <%= borrow.user.email %> | Due: <%= borrow.due_date.strftime("%A, %B %d") %></li>
    <% end %>
  </ul>
  <h4>Returns</h4>
  <ul>
    <% @returns.each do |returned| %>
      <li class="list-group">Returned by: <%= returned.user.email %> | Checked out: <%= returned.created_at.strftime("%B %d, %Y") %>  | Returned: <%= returned.date_returned.strftime("%B %d, %Y") %></li>
    <% end %>
  </ul>
<% end %>
