<!DOCTYPE html>
<html>
  <head>
    <title>BestLibrary</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

        <header>
          <h1><%= link_to "Best Libraries 2018", books_path %></h1>
          <% if user_signed_in? %>
            <h6>Currently signed in as: <%= current_user.email %></h6>
          <% end %>
          <div class="float-right">
            <%= form_tag books_path, :method => 'get' do %>
              <p>
                <%= text_field_tag :search, params[:search] %>
                <%= submit_tag "Search", :name => nil, :class => "btn btn-primary"%>
              </p>
            <% end %>
          </div>
          <nav>
            <ul class="nav">
              <% if user_signed_in? %>
                <li class="nav-item"><%= link_to "My Profile", current_user, :class => "nav-link" %></li>
                <li class="nav-item"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => "nav-link"  %></li>
                <% if current_user.admin == true %>
                    <li class="nav-item"><%= link_to "Add A Book", new_book_path, :class => "nav-link" %></li>
                <% end %>
              <% else %>
                <li class="nav-item"><%= link_to "Register", new_user_registration_path, :class => "nav-link" %></li>
                <li class="nav-item"><%= link_to "Login", new_user_session_path, :class => "nav-link"%></li>
              <% end %>
            </ul>
          </nav>
        </header>

        <main>

            <% if flash && flash.any?  %>
              <% flash.each do |key, message| %>
                <h4><% key %></h4>
                <% if message && message.class != String && message.any?  %>
                  <% message.each do |sub_message|  %>
                  <div class="alert alert-primary">
                    <h5><%= sub_message %></h5>
                  </div>
                <% end %>
                <% else %>
                  <div class="alert alert-primary">
                    <h5><%= message %></h5>
                  </div>
                <% end  %>
              <% end %>
            <% end %>
            <%= yield %>
        </main>

    </div>
  </body>
</html>
