<!DOCTYPE html>
<html>
  <head>
    <title>BestLibrary</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <h1><%= link_to "Best Library 2018", books_path %></h1>
      <nav>
        <%= link_to "Books Index", books_path %>
        <% if current_user %>
          <h4>Currently signed in as: <%= current_user.email %></h2>
          <%= link_to "My Profile", user_path(@user) %>
          <%= link_to "Sign Out", logout_path, method: :delete %>
        <% else %>
          <%= link_to "Register", new_user_path %>
          <%= link_to "Login", new_session_path%>
        <% end %>
      </nav>
    </header>

    <main>
      <% if flash && flash.any?  %>
        <% flash.each do |key, message| %>
          <h4><% key %></h4>
          <% if message && message.class != String && message.any?  %>
            <% message.each do |sub_message|  %>
            <h5><%= sub_message %></h5>
          <% end %>
          <% else %>
            <h5><%= message %></h5>
          <% end  %>
        <% end %>
      <% end %>
      <%= yield %>
    </main>

  </body>
</html>
